.e51_22 { 
	overflow:hidden;
}
.e51_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:1481px;
	height:2068px;
	position:absolute;
}
.e51_23 { 
	width:1481px;
	height:359px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_24 { 
	color:rgba(255, 255, 255, 1);
	width:1321px;
	height:240px;
	position:absolute;
	left:96px;
	top:60px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:100px;
	letter-spacing:0;
}
.e51_25 { 
	background-image:linear-gradient(0deg, rgba(134.99409466981888, 54.73908372223377, 237.13671773672104, 1) 0%,rgba(5.813213065266609, 58.635839223861694, 96.88672229647636, 0.8999999761581421) 100%) ;
	width:665px;
	height:450px;
	position:absolute;
	left:35px;
	top:401px;
}
.e51_26 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:368px;
	position:absolute;
	left:54px;
	top:473px;
	font-family:Alata;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e51_27 { 
	background-image:linear-gradient(0deg, rgba(164.88672584295273, 28.168146908283234, 28.168146908283234, 1) 0%,rgba(216.94922178983688, 138.82941126823425, 82.25990876555443, 0.9100000262260437) 100%) ;
	width:665px;
	height:450px;
	position:absolute;
	left:775px;
	top:401px;
}
.e51_28 { 
	background-image:linear-gradient(0deg, rgba(212.09776371717453, 215.88672280311584, 26.446145810186863, 1) 0%,rgba(81.09115988016129, 181.88672482967377, 97.21845209598541, 0.9700000286102295) 100%) ;
	width:665px;
	height:450px;
	position:absolute;
	left:35px;
	top:893px;
}
.e51_29 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:368px;
	position:absolute;
	left:54px;
	top:965px;
	font-family:Alata;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e51_30 { 
	background-image:linear-gradient(0deg, rgba(170.47397643327713, 235.13448357582092, 239.26171571016312, 1) 0%,rgba(70.4625678062439, 43.66902753710747, 177.6367136836052, 1) 100%) ;
	width:665px;
	height:450px;
	position:absolute;
	left:776px;
	top:893px;
}
.e51_31 { 
	background-color:rgba(45.88671773672104, 45.88671773672104, 45.88671773672104, 1);
	width:665px;
	height:72px;
	position:absolute;
	left:776px;
	top:401px;
}
.e51_32 { 
	background-image:linear-gradient(0deg, rgba(255, 20.612525939941406, 20.612525939941406, 1) 0%,rgba(128.76171469688416, 63.844348937273026, 110.58476686477661, 1) 100%) ;
	width:665px;
	height:450px;
	position:absolute;
	left:35px;
	top:1385px;
}
.e51_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(43.56166809797287, 107.20316872000694, 165.94922482967377, 1) 0%,rgba(248.82422178983688, 0, 238.87121826410294, 0.3499999940395355) 100%) ;
	width:665px;
	height:450px;
	position:absolute;
	left:776px;
	top:1385px;
}
.e51_34 { 
	background-color:rgba(45.88671773672104, 45.88671773672104, 45.88671773672104, 1);
	width:665px;
	height:72px;
	position:absolute;
	left:776px;
	top:1385px;
}
.e51_35 { 
	width:1481px;
	height:185px;
	position:absolute;
	left:0px;
	top:1903px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_53 { 
	color:rgba(90.5249972641468, 84.48999390006065, 84.48999390006065, 1);
	width:217px;
	height:22px;
	position:absolute;
	left:1253px;
	top:2041px;
	font-family:Constantia;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e51_36 { 
	width:452px;
	height:113px;
	position:absolute;
	left:515px;
	top:1939px;
}
.e51_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:452px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e51_38 { 
	color:rgba(0, 0, 0, 1);
	width:395px;
	height:81px;
	position:absolute;
	left:28px;
	top:16px;
	font-family:Viga;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
	cursor:pointer;
}
.e51_39 { 
	background-color:rgba(51.19922026991844, 51.19922026991844, 51.19922026991844, 1);
	width:665px;
	height:72px;
	position:absolute;
	left:35px;
	top:401px;
}
.e51_40 { 
	color:rgba(255, 255, 255, 1);
	width:635px;
	height:48px;
	position:absolute;
	left:50px;
	top:412.5px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e51_41 { 
	background-color:rgba(45.88671773672104, 45.88671773672104, 45.88671773672104, 1);
	width:665px;
	height:118px;
	position:absolute;
	left:776px;
	top:893px;
}
.e51_42 { 
	background-color:rgba(45.88671773672104, 45.88671773672104, 45.88671773672104, 1);
	width:665px;
	height:72px;
	position:absolute;
	left:35px;
	top:893px;
}
.e51_43 { 
	background-color:rgba(45.88671773672104, 45.88671773672104, 45.88671773672104, 1);
	width:665px;
	height:72px;
	position:absolute;
	left:35px;
	top:1385px;
}
.e51_44 { 
	color:rgba(255, 255, 255, 1);
	width:633px;
	height:48px;
	position:absolute;
	left:51px;
	top:904px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e51_45 { 
	color:rgba(255, 255, 255, 1);
	width:633px;
	height:48px;
	position:absolute;
	left:792px;
	top:1397px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e51_46 { 
	color:rgba(255, 255, 255, 1);
	width:656px;
	height:48px;
	position:absolute;
	left:39px;
	top:1397px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e51_47 { 
	color:rgba(255, 255, 255, 1);
	width:590px;
	height:107px;
	position:absolute;
	left:811px;
	top:904px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e51_48 { 
	color:rgba(255, 255, 255, 1);
	width:401px;
	height:48px;
	position:absolute;
	left:908px;
	top:412px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e51_49 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:368px;
	position:absolute;
	left:793px;
	top:473px;
	font-family:Alata;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e51_50 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:322px;
	position:absolute;
	left:793px;
	top:1011px;
	font-family:Alata;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e51_51 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:368px;
	position:absolute;
	left:54px;
	top:1457px;
	font-family:Alata;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e51_52 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:368px;
	position:absolute;
	left:796px;
	top:1457px;
	font-family:Alata;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
